.image-container {
  position: relative; /* Make the container a positioning context */
  width: 100%;
  max-width: 100%; /* Adjust the maximum width as needed */
  height: 400px; /* Set the height to match your image */
}
.image-text {
  position: absolute;
  top: 220px; /* Adjust the position from the top as needed */
  left: 100px; /* Adjust the position from the left as needed */
  background-color: rgb(132, 202, 229, 0.8);
  color: black;
  font-weight: 570;
  font-size: 28px;
  padding: 10px; /* Padding for text */
}



.head1 {
  color: black; /* Set the color you prefer for the heading */
  margin-top: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

@media (min-width: 576px) {
  .containerofwhat {
    flex-direction: row; /* Change back to horizontal layout on larger screens */
  }

  .textofwhat {
    flex: 1; /* Let text occupy full width */
    margin-bottom: 0; /* Remove margin for larger screens */
    margin-right: 20px; /* Add some space between text and image */
  }

  .imgofwhat {
    flex: 0 0 30%; /* Adjust width of image container */
  }
}

.para1 {
  font-size: 16px;
  line-height: 1.6;
  color: #555; /* Set the color you prefer for the paragraph text */
  margin-left: 58px;
  margin-right: 58px;
  text-align: justify;
  font-size: 21px;
}

.What1 {
  background-color: #c7fbff;
  padding: 20px;
}

.containerofwhat {
  display: flex;
  flex-direction: row;
}

.textofwhat {
  flex: 1;
}

.imgofwhat {
  flex: 0 0 38%;
}

.timeline {
  padding: 20px;
  text-align: center; /* Center align the content */
}

.timeline h4 {
  font-size: 48px;
}

.timeline p {
  font-size: 16px;
}

.timeline video {
  width: 80%; /* Adjust width as needed */
  margin: auto; /* Center the video horizontally */
}

@media (max-width: 768px) {
  .timeline h4 {
    font-size: 29px;
  }

  .timeline p {
    font-size: 14px;
  }

  .timeline video {
    width: 100px; /* Adjust width as needed */
    margin-left: 20px !important;
  }
}

@media (max-width: 576px) {
  .timeline h4 {
    font-size: 29px;
  }

  .timeline p {
    font-size: 12px;
  }

  .timeline video {
    width: 354px !important;
    margin-left: -38px !important; /* Adjust width as needed */
  }
}
